<!DOCTYPE html>
<html>
	<head>
		<title>Frankie Cancino</title>
		<link rel="icon" type="image/png" href="Favicon.jpg">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
  		<link href="fontawesome/css/fontawesome-all.css" rel="stylesheet">
		<!--[if lte IE 8]><script src="assets/js/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-136318532-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-136318532-1');
		</script>
	</head>
	<body class="is-loading">
		<div id="flex-container">
		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Main -->
					<section id="main">
						<header>
							<span class="avatar"><img src="images/avatar.jpeg" alt="" /></span>
							<h1>Frankie Cancino</h1>
							<h3>Target - San Francisco Bay Area</h3>
							<p>Senior AI Scientist</p>
							<p>Organizer & Founder - Data Science Minneapolis</p>
						</header>
						<hr />
							<ul class="actions">
								<li><a href="Resume.pdf" target="_blank" class="button">Résumé</a></li>
							</ul>
						<hr />
							<h3>Articles</h3>
							<ul class="actions">
								<li><a href="https://medium.com/@frankiecancino" target="_blank" class="fab fa-medium fa-5x"></a></li>
								<li><a href="https://tech.target.com/2019/04/19/MIPS-analytics-template.html" target="_blank" class="fa fa-dot-circle-o fa-5x"></a></li>
								<li><a href="https://tech.target.com/data%20science/2018/07/02/iterative-data-science.html" target="_blank" class="fa fa-dot-circle-o fa-5x"></a></li>
							</ul>
						<hr />
							<h3>Code</h3>
							<ul class="actions">
								<li><a href="https://github.com/frankiecancino" target="_blank" class="fab fa-github fa-5x"></a></li>
								<li><a href="https://github.com/target/matrixprofile-ts" target="_blank" class="fa fa-dot-circle-o fa-5x"></a></li>
							</ul>
						<hr />
							<h3>Data Science Minneapolis</h3>
							<ul class="actions">
								<li><a href="https://www.meetup.com/Minneapolis-Data-Science-Meetup/" target="_blank" class="fab fa-meetup fa-5x"></a></li>
							</ul>
						<hr />
						<h3>Contact</h3>
						<footer>
							<ul class="icons">
								<li><a href="https://www.linkedin.com/in/frankie-cancino" target="_blank" class="fa fa-linkedin"></a></li>
								<li><a href="https://mail.google.com/mail/?view=cm&fs=1&to=frankiecancino@gmail.com" target="_blank" class="fa fa-google"></a></li>
								<li><a href="https://twitter.com/frankiecancino" target="_blank" class="fa fa-twitter"></a></li>
								<li><a href="https://www.instagram.com/frankie.cancino/" target="_blank" class="fa fa-instagram"></a></li>
							</ul>
						</footer>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<ul class="copyright">
							<li>&copy; Frankie Cancino</li>
						</ul>
					</footer>

			</div>
		</div>
		<!--[if lte IE 8]><script src="assets/js/respond.min.js"></script><![endif]-->
		<script>
			if ('addEventListener' in window) {
				window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
				document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
			}
		</script>
	</body>
</html>